@import "./modern-normalize.css";

:root {
    --color-primary: #2962FF;
    --color-secondary: #212121;
    --color-secondary-light: #37474F;
    --text-sm: 0.875rem;
    --text-base: 1rem;
    --text-lg: 1.125rem;
    --text-xl: 1.25rem;

    --color-text-inactive: var(--color-secondary-light);
    --border-radious-base: 10px;
}




