@import "./modern-normalize.css";

:root {
    --color-primary: #2962FF;
    --color-secondary: #212121;
    --color-secondary-light: #37474F;
    --text-sm: 0.875rem;
    --text-base: 1rem;
    --text-lg: 1.125rem;
    --text-xl: 1.25rem;

    --media-button-size: 1.75rem;
    --color-text-inactive: var(--color-secondary-light);
    --media-button-color: var(--color-secondary);
    --border-radious-base: 10px;
}

body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

audio-player {
    width: 100%;
    position: sticky;
    top: 0;
    background-color: white;
}

media-button {
    height: var(--media-button-size);
    width: var(--media-button-size);
}

media-progress{
    width: 100%;
    height: 0.8rem;
}

audio-playlist{
    flex: 1;
}


